* {
    padding: 0;
    margin: 0;
} /*как принято обнулять стили?*/

:root {
    --light-cell: lightgoldenrodyellow;
    --dark-cell: darkslategray;
    --img-wood-dark: url("../assets/svg/background/wood_dark.svg");
    --img-wood-light: url("../assets/svg/background/wood_light.svg");
}

@media (orientation: landscape) {
    :root {
        --default-size: 1vh;
        --additional-size: 1vw;
    }

    #restart-button {
        left: calc(var(--additional-size) * 50 + var(--default-size) * 50);
        top: 0;
    }
}

@media (orientation: portrait) {
    :root {
        --default-size: 1vw;
        --additional-size: 1vh;
    }

    #restart-button {
        left: 0;
        top: calc(var(--default-size) * 100);
    }
}

#deck-surface {
    background: #2a292e var(--img-wood-dark) center repeat;
    display: flex;
    justify-content: stretch;
    margin: auto;
    width: calc(var(--default-size) * 100);
    height: calc(var(--default-size) * 100);
}

#deck {
    background: var(--img-wood-light) center;
    display: flex;
    justify-content: stretch;
    margin: 5%;
    flex-basis: 100%;
}

.column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: calc(100% / 9);
    flex-grow: 1;
}

.label, .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: calc(100% / 9);
    font-size: calc(var(--default-size) * 3);
}


.column:first-child,
.column:last-child {
    flex-basis: calc(100% / 18);
}


.label {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}


.label:first-child,
.label:last-child {
   flex-basis: calc(100% / 18);
}


.cell {
    background: white var(--img-wood-light) center;
    flex-grow: 1;
}


.column:nth-child(even) > .cell:nth-child(odd),
.column:nth-child(odd) > .cell:nth-child(even) {
     background: black var(--img-wood-dark) ;
}


.svg-piece {
    width: calc(var(--default-size) * 9);
    height: calc(var(--default-size) * 9);
}


.popup-back {
    z-index: 999;
    overflow:hidden;
    position:fixed;
    top:0;
    width:100%;
    height:100vh;
    background-color: rgba(0,0,0,0.7);

}


.popup-body {
    z-index: 1000;
    width: calc(var(--default-size) * 40);
    top: calc(var(--default-size) * 45);
    left: 50%;
    padding: var(--default-size);
    background-color: #eee;
    position:absolute;
    display: flex;
    justify-content: space-around;
}


#movable-cell {
    position: absolute;
    background-color: transparent;
    z-index: 500; /*mazZIndex?*/
}

#restart-button {
    position: absolute;
    height: calc(var(--default-size) * 4);
    width: calc(var(--default-size) * 14);
    font-size: calc(var(--default-size) * 2);
}